<div>
  
</div>

<div class="container">
  <h1>Welcome To The Magic Show!</h1>
  <p>Select From the Following:</p>
  

  <form action="/urls" method="POST">
    <br>
   <label for="new_url">URL</label>
   <input type="text" id="new_url" name="link">
   <input type="submit">
  </form>
    <br>
  <table>
    <tr>
      <th>url</th><th>shortened url</th> <th>number of clicks</th>
    </tr>
    <% @shortened_links.each do |links| %>

    <tr>
      <td class="list_table"> <%= links.url %> </td>
      <td class="list_table"> <a href='<%= links.shortened_url %>'><%= links.shortened_url %> </a> </td>
      <td class="list_table"> <%= links.counter %> </td>
     <% end %>
    </tr>
  </table>

  <br>
  <a href="/login">login</a>

  
</div>

